* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    font-family: 'montserrat', sans-serif;
    margin: 0 auto;
    padding-top: 60px;
}
.card {
    display: flex;
    max-width: 600px;
    max-height: 200px;
    box-shadow: 0px 0px 0px 0.2px rgba(255,255,255,1);
    position: relative;
    margin-bottom: 5px;
}
img {
    margin-top: 15px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.twit-icon {
    position: absolute;
    top: 10px;
    left: 280px;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}
a {
    font-size: 10px;
    color: #71767a;
    text-decoration: none;
}
.card-list {

}
.text-items {
    padding: 15px;
}
h4 {
    font-size: 14px;
    color:#e7e9ea ; 
    margin-bottom: 5px;
}
h5 {
    font-weight: 400;
    color:#e7e9ea; 
    margin-bottom: 25px;
}
h5::first-letter {
    text-transform: uppercase;
}
h6::first-letter {
    text-transform: uppercase;
}
h6 {
    font-weight: 400;
    font-size: 9px;
    color: #71767a;  
    margin-bottom: 5px;

}
.delete-btn {
	position: absolute;
	top: 5px;
	right: 4px;
	width: 14px;
	height: 14px;
	opacity: 0.2;
	cursor: pointer;
    transition: opacity ease 0.5s;
}
.delete-btn:hover {
    opacity: 1;
}
.delete-btn::before,
.delete-btn::after {
	content: '';
	position: absolute;
	top: 5px;
	display: block;
	width: 14px;
	height: 3px;
	background: #71767a;
}

.delete-btn::before {
	transform: rotate(45deg);
}

.delete-btn::after {
	transform: rotate(-45deg);
}

.lds-dual-ring {
    display: block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #1d9bf0 transparent #1d9bf0 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
