.lds-dual-ring {
    display: block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    margin-top: 50px;
    margin-left: 190px;
    border-radius: 50%;
    border: 6px solid #ffe81f;
    border-color: #ffe81f transparent #ffe81f transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
body {
    background-color: #000000; 
}
p {
    color: #b8b8b8;
}
ul, li {
    padding: 0;
    list-style: none;
}
.movie-card {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(https://cutewallpaper.org/21/star-wars-background-stars/Star-Wars-The-Force-Awakens-.gif-edition-GIF-on-Imgur.jpg);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
}
h2 {
    color: #ffe81f;
}
.movie-list {
    max-width: 430px;
    background: rgba(255, 255, 255, 0.079);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
}
.character-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
}
.character-list li {
    color: #000;
    background-color: #ffe91fd0;
    border-radius: 10px;
    padding: 2px 5px;
    margin-right: 5px;
    cursor: pointer;
}
strong {
    color: #ffe81f;
}