body {
    font-family: 'montserrat', sans-serif;
    font-style: italic;
    background-color: #ecf0f1;
}
ul {
    display: flex;
    flex-direction: column;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#root::before {
    content: 'Список книг:';
    font-size: 30px;
}
li {
    text-align: center;
    padding: 20px;
    list-style: none;
    line-height: 30px;
    max-width: 200px;
    cursor: pointer;
    transition: all .3s ease;
}
li:hover {
    background-color: #fff;
}